/* include border and padding in element width and height */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html body {
    margin: 0;
    padding: 0;
}
  

.centered {
    margin: 3rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.focused {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: teal;
  color: white;
}